.pomodoro-button {
  padding: 10px 20px;
  background-color: #62c6df;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 80%;
  max-width: 300px;
}

button:hover {
  background-color: #62e483;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content button {
  padding: 10px 20px;
  background-color: #abbbbf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-content button:hover {
  background-color: #62e483;
}

#timer-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
  padding: 10px;
}

.remaining-cicles {
  padding-top: 5%;
  font-size: 1.2em;
  text-decoration: underline;
}

.timer-image {
  width: 50%;
  height: auto;
  display: block;
  text-align: center;
  margin: auto;
  animation: rotate 2s infinite;
}

#time-left {
  background-color: #333;
  color: #f3f0e4;
  padding: 1%;
  max-width: fit-content;
  margin: auto;
  margin-top: 2%;
  font-size: 2em;
  font-family: system-ui;
  border: solid white 10px;
  border-radius: 8%;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@media (min-width: 600px) {
  .pomodoro-button  {
    width: 60%;
    font-size: 18px;
  }

  .timer-image {
    width: 25%;
  }

  #time-left {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .pomodoro-button  {
    width: 90%;
    font-size: 20px;
  }

  .timer-image {
    width: 12%;
  }

  #time-left {
    font-size: 3em;
  }

  .remaining-cicles {
    font-size: 1.5em;
  }
}


@media (max-width: 1024px) and (orientation: landscape) {
  #timer-div {
    flex-direction: row; 
    gap: 10px; 
  }

  .timer-image {
    width: 20%;
  }

  #time-left {
    font-size: 1.5em;
  }

  .remaining-cicles {
    font-size: 1em;
  }

  .pomodoro-button  {
    width: 90%;
    font-size: 14px;
  }
}