body {
  /* margin-top: 2%; */
  background-color: #f3f0e4; /* Colore panna per lo sfondo */
  font-family: Arial, sans-serif; /* Font predefinito per il testo */
  color: #333; /* Colore grigio scuro per il testo */
  /* margin-left: 2%;
  margin-right: 2%; */
}

.App {
  display: flex;
  flex-direction: column;

}
.pomodoro-variant {
  border: 1px solid #333; 
  border-radius: 10px;
  padding: 2%; 
}

#pomodoro-header{
  color: red;
  align-self: center;
}

button{
  margin-top: 1%;
}

.navbar {
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav {
  margin: 0;
}

.navbar-nav .nav-link {
  margin-right: 12px; /* Spaziatura tra i link della navbar */
  margin-left: 1%;
}

.navbar-brand {
  margin-left: 1%; /* Allinea il brand all'inizio della navbar */
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.navbar-collapse {
  flex-grow: 0;
}