body {
  background-color: #f3f0e4; 
  font-family: Arial, sans-serif; 
  color: #333; 

}

.App {
  display: flex;
  flex-direction: column;

}
.pomodoro-variant {
  padding: 2%; 
  margin-top: 1%

}

#pomodoro-header{
  color: red;
  align-self: center;
}

.pomodoro-button{
  margin-top: 1%;
}

.navbar {
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav {
  margin: 0;
}

.navbar-nav .nav-link {
  margin-right: 12px; 
  margin-left: 1%;
}

.navbar-brand {
  margin-left: 1%; }

.navbar-nav.ml-auto {
  margin-left: auto;
}

.navbar-collapse {
  flex-grow: 0;
}

@media (max-width: 768px) {
  .pomodoro-variant { 
    margin-top: 8%
  
  }

  
}