.calendar-container .highlight {
    background-color: blue;
    color: white;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .calendar {
    border-radius: 10%;
    height:max-content;
    width:max-content;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

